<div class="dashboard-design">
  <mat-drawer-container class="dashboard-container" autosize>
    <mat-drawer #drawer class="dashboard-sidenav" mode="side" opened>
      <div class="menu-btn-block">
        <button mat-icon-button class="menu-btn"><mat-icon class="menu-btn-icon">short_text</mat-icon></button>
      </div>
      <div class="menu-items-block">
        <div class="menu-items">
          <button mat-icon-button class="menu-items-btn" id="home-btn"><mat-icon class="menu-items-icon" id="home-btn-icon">home</mat-icon></button>
          <button mat-icon-button class="menu-items-btn"><mat-icon class="menu-items-icon">equalizer</mat-icon></button>
          <button mat-icon-button class="menu-items-btn"><mat-icon class="menu-items-icon">today</mat-icon></button>
          <button mat-icon-button class="menu-items-btn"><mat-icon class="menu-items-icon">desktop_mac</mat-icon></button>
          <button mat-icon-button class="menu-items-btn"><mat-icon class="menu-items-icon">mail_outline</mat-icon></button>
          <button mat-icon-button class="menu-items-btn"><mat-icon class="menu-items-icon">flight_takeoff</mat-icon></button>
          <button mat-icon-button class="menu-items-btn"><mat-icon class="menu-items-icon">settings</mat-icon></button>
        </div>
      </div>
      <div class="menu-profile-pic-block">
        <div class="menu-profile-pic"></div>
      </div>
    </mat-drawer>
  
    <div class="dashboard-content">
      <div class="dashboard-block-1">
        <div class="date-block"><button mat-icon-button class="date-btn"><mat-icon class="date-icon">date_range</mat-icon></button> <span class="date-text">{{today | date:'mediumDate'}}</span></div>
        <div class="search-block"><button mat-icon-button class="search-btn"><mat-icon class="search-icon">search</mat-icon></button></div>
        <div class="notification-block"><button mat-icon-button class="notification-btn"><mat-icon class="notification-icon">notifications_none</mat-icon></button></div>
      </div>
      <div class="dashboard-block-2">
        <div class="details-block-1">
          <div class="my-folders-block">
            <div class="my-folders-heading">
              <div class="my-folders-title">My Folders</div>
              <div class="my-folders-subtitle">Photos, Videos, Documents</div>
            </div>
            <div class="my-folders-add-btn">
              <!-- <button mat-icon-button class="add-btn"><mat-icon class="add-btn-icon">add_circle</mat-icon></button> -->
              <button mat-icon-button class="add-btn">+</button>
            </div>
          </div>
          <div class="my-folders-status-block">
            <div class="my-folder-status">
              <div class="my-folder-status-block-1">
                <div class="my-folder-status-icon-block">
                  <div class="my-folder-status-icon"><mat-icon class="folder-status-icon" id="folder-status-icon-1">folder</mat-icon></div>
                  <div class="my-folder-status-icon-text">Photos</div>
                </div>
                <div class="my-folder-status-options-block">
                  <div class="my-folder-status-options"><button mat-icon-button class="folder-status-options-btn"><mat-icon class="folder-status-options-icon">more_vert</mat-icon></button></div>
                </div>
              </div>
              <div class="my-folder-status-block-2">
                <div class="my-folder-status-percent-text-block">
                  <div class="my-folder-status-percent-text-1">25%</div>
                  <div class="my-folder-status-percent-text-2">5 days ago</div>
                </div>
                <div class="my-folder-status-percent-value-block">
                  <mat-progress-bar mode="determinate" class="folder-percent-value" value="25"></mat-progress-bar>
                </div>
              </div>
            </div>
            <div class="my-folder-status">
              <div class="my-folder-status-block-1">
                <div class="my-folder-status-icon-block">
                  <div class="my-folder-status-icon"><mat-icon class="folder-status-icon" id="folder-status-icon-2">folder</mat-icon></div>
                  <div class="my-folder-status-icon-text">Songs</div>
                </div>
                <div class="my-folder-status-options-block">
                  <div class="my-folder-status-options"><button mat-icon-button class="folder-status-options-btn"><mat-icon class="folder-status-options-icon">more_vert</mat-icon></button></div>
                </div>
              </div>
              <div class="my-folder-status-block-2">
                <div class="my-folder-status-percent-text-block">
                  <div class="my-folder-status-percent-text-1">75%</div>
                  <div class="my-folder-status-percent-text-2">1 week before</div>
                </div>
                <div class="my-folder-status-percent-value-block">
                  <mat-progress-bar mode="determinate" class="folder-percent-value" value="75"></mat-progress-bar>
                </div>
              </div>
            </div>
            <div class="my-folder-status">
              <div class="my-folder-status-block-1">
                <div class="my-folder-status-icon-block">
                  <div class="my-folder-status-icon"><mat-icon class="folder-status-icon" id="folder-status-icon-3">folder</mat-icon></div>
                  <div class="my-folder-status-icon-text">Documents</div>
                </div>
                <div class="my-folder-status-options-block">
                  <div class="my-folder-status-options"><button mat-icon-button class="folder-status-options-btn"><mat-icon class="folder-status-options-icon">more_vert</mat-icon></button></div>
                </div>
              </div>
              <div class="my-folder-status-block-2">
                <div class="my-folder-status-percent-text-block">
                  <div class="my-folder-status-percent-text-1">45%</div>
                  <div class="my-folder-status-percent-text-2">1 week before</div>
                </div>
                <div class="my-folder-status-percent-value-block">
                  <mat-progress-bar mode="determinate" class="folder-percent-value" value="45"></mat-progress-bar>
                </div>
              </div>
            </div>
          </div>
          <div class="stats-block">
            <div class="stats-block-contents">
              <div class="stats-block-content-1">
                <div class="y-axis-label" id="y-axis-label-1">180 GB</div>
                <div class="y-axis-label" id="y-axis-label-2">160 GB</div>
                <div class="y-axis-label" id="y-axis-label-3">140 GB</div>
                <div class="y-axis-label" id="y-axis-label-4">120 GB</div>
              </div>
              <div class="stats-block-content-2">
                <div class="stats-block-margin-block">
                  <div class="x-axis-margin" id="x-axis-margin-1"></div>
                  <div class="x-axis-margin" id="x-axis-margin-2"></div>
                  <div class="x-axis-margin" id="x-axis-margin-3"></div>
                  <div class="x-axis-margin" id="x-axis-margin-4"></div>
                  <div class="x-axis-margin" id="x-axis-margin-5"></div>
                </div>
              </div>
            </div>
            <div class="stats-block-report-block">
              <div class="report-content" *ngFor="let stats of report">
                <div class="report-bar-block">
                  <div class="report-bar-1" [ngStyle]="{'height': reportStatus ? '0px' : stats.songs}"></div>
                  <div class="report-bar-2" [ngStyle]="{'height': reportStatus ? '0px' : stats.documents}"></div>
                  <div class="report-bar-3" [ngStyle]="{'height': reportStatus ? '0px' : stats.photos}"></div>
                </div>
                <div class="report-label-block">
                  <div class="report-label">{{stats.label}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="my-fav-block">
            <div class="my-fav-heading">
              <div class="my-fav-title">My Favorite</div>
              <div class="my-fav-subtitle">Photos, Videos, Documents</div>
            </div>
            <div class="my-fav-contents">
              <div class="my-fav-content">
                <div class="my-fav-content-1">
                  <div class="my-fav-content-title">Photos</div>
                  <div class="my-fav-content-subtitle">4,524 Files</div>
                </div>
                <div class="my-fav-content-2">
                  <div class="my-fav-content-profile-pics">
                    <div class="my-fav-profile-pic-1"></div>
                    <div class="my-fav-profile-pic-2"></div>
                    <div class="my-fav-profile-pic-3"></div>
                    <div class="my-fav-profile-pic-4"></div>
                  </div> 
                </div>                
              </div>
              <div class="my-fav-content">
                <div class="my-fav-content-1">
                  <div class="my-fav-content-title">Videos</div>
                  <div class="my-fav-content-subtitle">4,524 Files</div>
                </div>
                <div class="my-fav-content-2">
                  <div class="my-fav-content-profile-pics">
                    <div class="my-fav-profile-pic-1"></div>
                    <div class="my-fav-profile-pic-2"></div>
                    <div class="my-fav-profile-pic-3"></div>
                    <div class="my-fav-profile-pic-4"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="details-block-2">
          <div class="used-space-block">
            <div class="used-space-report-block">
              <!-- <mat-progress-spinner class="example-margin" color="primary" mode="determinate" value="65"></mat-progress-spinner> -->
              <div class="used-space-report-graph"><div class="percent-value">65 %</div><mat-progress-spinner class="percent-graph-dm" diameter="95" color="white" mode="determinate" value="100"></mat-progress-spinner><mat-progress-spinner class="percent-graph" color="primary" diameter="95" mode="determinate" value="65"></mat-progress-spinner></div>
            </div>
            <div class="used-space-details-block">
              <div class="used-space-details">
                <div class="used-space-details-title">Total Space</div>
                <div class="used-space-details-subtitle">256 GB</div>
              </div>
              <div class="used-space-details">
                <div class="used-space-details-title">Used Space</div>
                <div class="used-space-details-subtitle">180 GB</div>
              </div>
            </div>
          </div>
          <div class="other-folders-block">
            <div class="other-folders-heading">
              <div class="other-folders-title">Other Folders</div>
              <div class="other-folders-subtitle">Documents</div>
            </div>
            <div class="other-folders-content">
              <div class="other-folders-product-block">
                <div class="product-block-icon"><mat-icon class="product-icon">folder</mat-icon></div>
                <div class="product-block-heading">
                  <div class="product-block-title">Products</div>
                  <div class="product-block-subtitle">150 Files</div>
                </div>
                <div class="product-block-options"><mat-icon class="product-options-icon">more_vert</mat-icon></div>
              </div>
              <div class="other-folders-web-block">
                <div class="web-block-icon"><mat-icon class="web-icon">folder</mat-icon></div>
                <div class="web-block-heading">
                  <div class="web-block-title">Web Design</div>
                  <div class="web-block-subtitle">1200 Files</div>
                </div>
                <div class="web-block-options"><mat-icon class="web-options-icon">more_vert</mat-icon></div>
              </div>
              <div class="other-folders-photo-block">
                <div class="photo-block-icon"><mat-icon class="photo-icon">folder</mat-icon></div>
                <div class="photo-block-heading">
                  <div class="photo-block-title">Photos</div>
                  <div class="photo-block-subtitle">1540 Files</div>
                </div>
                <div class="photo-block-options"><mat-icon class="photo-options-icon">more_vert</mat-icon></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  
  </mat-drawer-container>
</div>
